.gradle
*.iml
.idea/
build/

out

try.iml

*.retry

yarn-error.log
.awcache
dist
static
static-dev
node_modules

application.properties
jdbc.properties
zookeeper.properties

# cluster-common.conf

# shared.conf

gateconfig.json

mgrconfig.json

publicconfig.json

realmconfig.json

homeconfig.json

startconfig.json
zkconfig.json

robot-cfg.json

cleandb.bat
cleandb.sh

battle_svn
battle_publish